@font-face {
    font-family: brunoacesc;
    src: url(BrunoAceSC-Regular.ttf);
}

@font-face {
    font-family: brunoace;
    src: url(BrunoAce-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(Quicksand.ttf);
}


*{
    margin: 0px;
    padding: 0px;
}

/*********** header **********/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: url(headerpic.jpg);

}

#logo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

nav{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
}

nav a {
    font-family: brunoacesc;
    text-decoration: none;
    color:#f2f1f0;

}

/*********** forside **********/

main{
    display:flex;
    flex-direction: column;
    background-color: #f5f4f4;
} 

.billede1{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
}

.overskriftforside{
    display: flex;
    justify-content: left;
    font-size: 20px;
    font-family: brunoace;
    color: #481B81;
    margin-top: 90px;
    margin-bottom: 10px;
}

.tokolonnerforside{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.tokolonnerforside > section{
    width: 580px;
    height: 600px;
    background-color: #f5f4f4;
    margin-top: 60px;
    padding:10px;
    text-align: left;
}

.tokolonnerforside h2{
    font-family: quicksand;
    font-weight: 200;
    font-size: 22px;
    margin-top: 30px; 
    line-height: 35px;
    color: #303030;
}


/*********** spillesteder **********/

.overskriftspillested{
    display: flex;
    font-size: 20px;
    font-family: brunoace;
    color: #481B81;
    margin-top: 70px;
    margin-bottom: 10px;
}

.tokolonner{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.tokolonner > section{
    width: 480px;
    height: 560px;
    margin-top: 20px;
    padding:30px;
    text-align: center;
    color: #303030;
}

.tokolonner h2{
    font-family: quicksand;
    font-weight: 200;
    font-size: 22px;
    margin-top: 30px;
    text-align: left;
    line-height: 35px;
}

.spillestedpic{
    margin-top: 20px;
    display:flexbox;
}


.trekolonner{
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.tokolonnermaps{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.tokolonnermaps > section{
    width: 530px;
    height: 600px;
    background-color: #f5f4f4;
    margin-top: 50px;
    padding:5px;
    text-align: left;
    color: #303030;
}

.overskriftmaps{
    display: flex;
    justify-content: left;
    font-size: 13px;
    font-family: quicksand;
    color: #303030;
    margin-top: 90px;
    margin-bottom: 10px;
}

.tokolonnermaps h3{
    font-family: quicksand;
    font-weight: 200;
    font-size: 18px;
    margin-top: 30px; 
    line-height: 35px;
}

.instafeed{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #ffffff;
    padding-bottom: 40px;
}

.instaoverskrift{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: quicksand;
    font-weight: 200;
    font-size: 23px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.instalogo{
    display: flex;
    padding:10px;

}

.arrows{
    display: flex;
    align-items: center;
}
